.page {
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid;
  size: 21cm 29.7cm;
  display: flex;
  align-content: stretch;
  font-size: 9pt;
  font-family: 'Montserrat', sans-serif;
  color: #512e5f;
}

.left-bar {
  width: 30%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  // margin-left: 0.5em;
}

.full-size-block {
  flex: 1 1;
}

.list > p:before {
  content: '⇒ ';
}

.list > p:not(:last-child):after {
  // left: -3px;
  // position: relative;
  content: ';';
}
.list > p:last-child:after {
  // left: -3px;
  // position: relative;
  content: '.';
}
