.content {
  text-align: justify;

  & .company-label {
    font-weight: 600;
  }

  & .description {
    font-size: 80%;
    font-weight: 100;
    margin-bottom: 0.4em;
  }

  // & .data {
  //   line-height: 1.1em;
  // }
}
