.content {
  text-align: justify;
  line-height: 1.2em;

  & .company-label {
    font-weight: 600;
  }

  & .description {
    font-size: 80%;
    font-weight: 100;
    margin-bottom: 0.4em;
  }

  & .content {
  }

}
